<div id="wrapper">
  <body id="signup_page">
    <div class="signup_form pt-0">
      <h2 class="signup_title"><i class="fa fa-address-card-o" aria-hidden="true"></i><br><%= t('view.sign_up') %></h2>

      <%= form_with(model: @user, local: true) do |f| %>
        <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li class="error_messages"><%= message %></li>
              <% end %>
          </ul>
        <% end %>

        <div class="form-group">
          <%= f.label :name %><span class="badge badge-secondary">必須</span>
          <%= f.text_field :name, placeholder: t('view.nickname'), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><span class="badge badge-secondary">必須</span>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><span class="badge badge-secondary">必須</span>
          <%= f.password_field :password, placeholder: t('view.six_characters'), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :profile %>
          <%= f.text_area :profile, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :profile_image %><br>
          <%= f.file_field :profile_image %>
          <%= f.hidden_field :profile_image_cache %>
        </div>

        <%= f.submit t('view.sign_up'), class: 'btn signup_btn btn-lg my-4' %>
      <% end %>

    </div>
  </body>
</div>
