<h1><%= @user.name %>さんのページ</h1>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>自己紹介:</strong>
  <%= @user.profile %>
</p>

<p>
  <strong>プロフィール画像:</strong>
  <%= image_tag "#{@user.profile_image}" %>
</p>

<%= link_to '編集', edit_user_path %>
