<h2 class="text-center mt-5"><%= t('view.follows') %></h2>

<div class="row">
  <div class="col-md-6">
    <h5 class="text-center mt-4"><%= t('view.follow') %></h5>
    <h3 class="follow-list font-weight-bold py-3"><%= @user.name %><%= t('view.follow_users') %></h3>
      <% @following_users.each do |follow_user| %>
        <div class="row mt-5 ml-1">
          <div class="row col-md-2 col-xs-12 ml-3">
            <% if follow_user.profile_image? %>
              <%= image_tag "#{follow_user.profile_image}", :size =>'50x50',class:"rounded-circle" %>
            <% else %>
              <%= image_tag 'default.png', :size =>'50x50',class:"rounded-circle" %>
            <% end %>
          </div>
          <div class="row col-md-3 col-xs-12 ml-1">
            <p class="follow-name"><%= follow_user.name %></p>
          </div>
          <table>
            <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: follow_user.id), method: :post, class: 'btn square_btn' %>
            </td>
            <td><%= render 'follow_form', user: follow_user %>
            </td>
          </table>
        </div>
      <% end %>
  </div>

  <div class="col-md-6">
    <h5 class="text-center mt-4"><%= t('view.follower') %></h5>
    <h3 class="follow-list font-weight-bold py-3"><%= @user.name %><%= t('view.follower_users') %></h3>
      <% @followers_users.each do |follower_user| %>
        <div class="row mt-5 ml-1">
          <div class="row col-md-2 col-xs-12 ml-5">
            <% if follower_user.profile_image? %>
              <%= image_tag "#{follower_user.profile_image}", :size =>'50x50',class:"rounded-circle" %>
            <% else %>
              <%= image_tag 'default.png', :size =>'50x50',class:"rounded-circle" %>
            <% end %>
          </div>
          <div class="row col-md-4 col-xs-12 ml-1">
            <p class="follow-name"><%= follower_user.name %></p>
          </div>
          <table>
            <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: follower_user.id), method: :post, class: 'btn square_btn' %>
            </td>
          </table>
        </div>
      <% end %>
  </div>
</div>

<div class="row d-flex justify-content-center my-5">
  <button class="btn small-btn ml-3 mt-4"><%= link_to t('view.back'), user_path(current_user.id) %></button>
</div>
