<h1><%= @user.name %><%= t('view.show_user') %></h1>

<% if @user.id == current_user.id %>
  <p><%= link_to t('view.follows'),  follow_user_path(current_user.id), class: 'btn btn-outline-primary btn-white' %></p>
<% end %>
<% if @user.id != current_user.id %>
    <%= render 'follow_form', user: @user %>
<% end %>

<p>
  <strong><%= t('view.name') %></strong>
  <%= @user.name %>
</p>
<p>
  <strong><%= t('view.profile') %></strong>
  <%= @user.profile %>
</p>
<p>
  <strong><%= t('view.profile_image') %></strong>
  <%= image_tag "#{@user.profile_image}" %>
</p>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <p><strong><%= t('view.restaurant_name') %><%= post.restaurant_name %></strong></p>
    <% post.orders.each do |order| %>
        <p><strong><%= order.recommend_dish %></strong></p>
    <% end %>
    <p><%= link_to t('view.show'), post_path(post.id) %></p>
  <% end %>
<% end %>

<% if @user.id == current_user.id %>
<%= link_to t('view.edit'), edit_user_path %>
<% end %>
<%= link_to t('view.index_post'), posts_path %>
