<div class="container">
  <div class="user_title">
    <h2 class="text-center text-muted pt-3"><i class="fa fa-address-book-o" aria-hidden="true"></i> <%= @user.name %><%= t('view.show_user') %></h2>
  </div>

  <div class="row d-flex flex-row-reverse m-2">
    <% if @user.id == current_user.id %>
      <p><%= link_to t('view.follows'),  follow_user_path(current_user.id), class: 'btn square-btn' %></p>
      <h5 class="text-muted"><%= t('view.message_recommend') %><i class="fa fa-caret-right" aria-hidden="true"></i></h5>
    <% end %>
    <% if @user.id != current_user.id %>
      <%= render 'follow_form', user: @user %>
      <h5 class="text-muted"><%= t('view.follow_recommend') %><i class="fa fa-caret-right" aria-hidden="true"></i></h5>
    <% end %>
  </div>

  <div>
    <table class="table table-bordered">
      <tr class="tr-color" >
        <td colspan="2"><%= t('view.name') %></td>
      </tr>
      <tr>
        <td colspan="2">
          <% if @user.profile_image? %>
            <%= image_tag "#{@user.profile_image}", :size =>'120x120' %>
          <% else %>
            <%= image_tag 'default.png', :size =>'120x120' %>
          <% end %>
          <%= @user.name %>
        </td>
      </tr>
      <tr class="tr-color">
        <td colspan="2"><%= t('view.profile') %></td>
      </tr>
      <tr>
        <td colspan="2"><%= simple_format(@user.profile) %></td>
      </tr>
    </table>

    <div class="row d-flex justify-content-center my-2">
      <% if @user.id == current_user.id %>
        <p><%= link_to t('view.edit'), edit_user_path, class: 'btn square_btn' %></p>
      <% end %>
    </div>
  </div>

  <div class="user_title">
    <h4><strong class="mt-4 ml-3"><%= @user.name %><%= t('view.posts_user') %></strong></h4>
    <% unless @posts.present? %>
      <p class="text-muted ml-4"><%= t('view.no_posts') %></p>
    <% end %>
    <div class="row not-underline">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id), class:"text-dark" do %>
      <div class="card card_type m-3" style="width: 60rem;">
        <div class="card-body post_body">
          <table class="table table-responsive table-sm post-list">
            <tbody>
              <tr>
                <td class="border-top-0" rowspan="2">
                  <% if post.user.profile_image? %>
                    <%= image_tag "#{post.user.profile_image}", :size =>'60x60' ,class:"rounded-circle" %>
                  <% else %>
                    <%= image_tag 'default.png', :size =>'60x60', class:"rounded-circle" %>
                  <% end %>
                </td>
                <td class="text-muted border-top-0"><%= post.user.name %>さん</td>
              </tr>
              <tr>
                <td class="font-weight-bold border-top-0"><%= post.restaurant_name %></td>
              </tr>
            </tbody>
          </table>
          <div>
            <% post.orders.each do |order| %>
              <span class="badge badge-pill badge-dark"><%= order.recommend_dish.truncate(12) %></span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <h4><strong class="ml-3">いいねしている投稿</strong></h4>
  <% unless @user.liked_posts.present? %>
    <p class="text-muted ml-4"><%= t('view.no_liked_posts') %></p>
  <% end %>
  <div class="container-fluid ml-4 mt-4">
    <div class="row">
      <% @user.liked_posts.each do |post| %>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="likes-users text-center">
            <%= link_to post_path(post) do %>
            <% post.orders.each do |order| %>
            <% if order.dish_image? %>
              <%= image_tag "#{order.dish_image}", :size =>'60x60' ,class:"rounded-circle" %>
            <% else %>
              <%= image_tag 'default_dish.png', :size =>'60x60', class:"rounded-circle" %>
            <% end %>
            <% end %>
            <% end %>
            <h5 class="text-center mt-2"><%= post.restaurant_name %></h5>
            <h6 class="text-center text-muted mt-0"><%= post.food_genre %></h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <p><%= link_to t('view.index_post'), posts_path, class: 'btn square_btn' %></p>
  </div>
</div>
