<h2><%= t('view.show_post') %></h2>

<p><%= t('view.restaurant_name') %><%= @post.restaurant_name %></p>
<p><%= t('view.food_genre') %><%= @post.food_genre %></p>
<p><%= t('view.note') %><%= @post.note %></p>
  <% @post.orders.each_with_index do |order, i| %>
    <h3><%= t('view.recommend_dish') %><%= i+1 %></h3>
    <p><%= t('view.recommend_dish') %><%= order.recommend_dish %></p>
    <p><%= t('view.reason') %><%= order.reason %></p>
    <p><%= t('view.dish_image') %><%= image_tag "#{order.dish_image}" %></p>
  <% end %>

<%= link_to t('view.back'), posts_path %>
<%= link_to t('view.edit'), edit_post_path %>
