<div class="row d-flex justify-content-center">
  <div class="col-xs-10 col-lg-8 col-xl-6 mb-3">
    <div class="show_title">
      <h3 class="text-center text-muted pt-3"><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i> <%= t('view.show_post') %></h3>
      <div><small><p class="posted-date text-muted">投稿日 <%= @post.created_at.strftime('%Y/%m/%d') %></p></small></div>
    </div>
    <div class="card py-3">
      <div class="card-body">
        <div class="row ml-4">
          <% if @post.user.profile_image? %>
            <%= image_tag "#{@post.user.profile_image}", :size =>'80x80' %>
          <% else %>
            <%= image_tag 'default.png', :size =>'80x80' %>
          <% end %>
          <div class="ml-4">
            <p><%= @post.user.name %>さん</p>
            <button class="profile-link btn square-btn btn-lg"><%= link_to "#{@post.user.name}さんのページをみる" ,user_path(@post.user.id) %></button>
          </div>
          <h5 class="text-muted d-flex align-items-end"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i><%= t('view.follow_recommend') %></h5>
        </div>

        <div class="restaurant-content">
          <div class="row pl-4 pt-4 d-flex align-items-center">
            <h1 class="card-title font-weight-bold"><%= @post.restaurant_name %></h1>
          </div>
          <div class="row pl-4">
            <h4><%= t('view.food_genre') %>：<%= @post.food_genre %></h4>
          </div>
          <div class="row pl-4">
            <h4><%= t('view.note') %>：<%= strip_tags(@post.note).truncate(800) %></h4>
          </div>
          <% @post.orders.each_with_index do |order, i| %>
            <table class="table table-responsive post-list">
            <div class="row pl-4 pt-4">
              <p><%= t('view.recommend_dish') %><%= i+1 %>：<%= order.recommend_dish %></p>
            </div>
              <tbody>
                <tr>
                  <td class="border-top-0" rowspan="2">
                    <% if order.dish_image? %>
                      <%= image_tag "#{order.dish_image}", :size =>'120x120' ,class:"rounded" %>
                    <% else %>
                      <%= image_tag 'default_dish.png', :size =>'120x120', class:"rounded" %>
                    <% end %>
                  </td>
                  <td class="border-top-0"><%= strip_tags(order.reason).truncate(400) %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
      <div class="row d-flex justify-content-center my-2">
        <% if @post.user_id == current_user.id %>
          <button class="btn small-btn ml-3 mt-2"><%= link_to t('view.edit'), edit_post_path %></button>
          <button class="btn small-btn ml-3 mt-2"><%= link_to t('view.delete'), @post, method: :delete, data: { confirm: t('view.delete_confirm') } %></button>
        <% end %>
      </div>
    </div>

    <h4 class="text-muted mt-4 ml-4">いいね件数: <%= @post.likes.count %></h4>
    <% if current_user.already_liked?(@post) %>
      <%= button_to post_like_path(@post), {method: :delete, class: "likes mt-1"} do %>
        <i class="fa fa-heart fa-lg unlike-btn" aria-hidden="true"></i><small class="text-muted"> いいねを取り消す</small>
      <% end %>
    <% else %>
      <%= button_to post_likes_path(@post), class: "likes mt-1" do %>
        <i class="fa fa-heart fa-lg like-btn" aria-hidden="true"></i><small class="text-muted"> いいね</small>
      <% end %>
    <% end %>

    <h4 class="text-muted mt-4 ml-4">いいねしたユーザー</h4>
    <% unless @post.liked_users.present? %>
      <small class="text-muted ml-5"><%= t('view.no_liked_users') %></small>
    <% end %>
    <div class="container-fluid ml-4 mt-3">
      <div class="row">
        <% @post.liked_users.each do |user| %>
          <div class="col-xs-10 col-sm-2">
            <div class="posts-display text-center">
              <%= link_to user_path(user) do %>
              <% if user.profile_image? %>
                <%= image_tag "#{user.profile_image}", :size =>'60x60' ,class:"rounded-circle" %>
              <% else %>
                <%= image_tag 'default.png', :size =>'60x60', class:"rounded-circle" %>
              <% end %>
              <% end %>
              <h5 class="text-center text-muted"><%= user.name %></h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
      <p><%= link_to t('view.index_post'), posts_path, class: 'btn square_btn' %></p>
    </div>
  </div>
</div>
